@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
}

.navList{
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navList li{
    list-style: none;
    padding: 26px 30px;
    margin: 5px;
}
.navList li a {
    color: rgba(255, 255, 255, 0.795);
    text-decoration: none;
}
.navList li a:hover{
    color: whitesmoke;
}
.rightNav{
    width: 30%;
    text-align: right;
    padding-right: 50px;
}
#search{
    padding: 4px;
    margin: 9px;
    font-size: 13px;
    border: 2px solid gray;
    border-radius:9px;

}
.btn-small{   
    padding: 4px;
    margin:10px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 13px;
    background: none;
    color:white;
    cursor:pointer;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 2px solid  rgba(255, 255, 255, 0.795);
    border-radius: 50px;
}
.background{
    background: rgba(0, 0, 0, 0.5) url('img/pexels-burst-374870.jpg') ;
    background-size: cover;
    background-blend-mode:darken;
} 

.firstSection{
    height: 100vh;
}
.box-main{
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin: auto;
    max-width: 50%;
}
.firstHalf img{
    width: 80%;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.secondHalf{
width: 30%;
}
.secondHalf img{
    width: 130px;
    border: 2px solid rgba(255, 255, 255, 0.664);
    border-radius: 150px;
    display: block;
    margin:25px;
}
.text-big{
    font-size: 31px;
}
.text-small{
    font-size: 15px;
}
.buttons{
    padding-top: 10px;
}
.btn{
    padding: 6px;
    margin:10px,0;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 15px;
    background: none;
    color:white;
    cursor:pointer;
}
.section{
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}


.imgFluid{
    height: 200px;
    width: 300px;
    margin: auto;
    padding: 50px;
    border-radius: 55px;
}

.left{
    flex-direction: row-reverse;  
}
.sectionSubTag{
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact{
    background-color: rgba(13, 17, 41, 0.932);
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-center{
    text-align: center;
    padding-top:25px;
    padding-bottom: 10px;
}

.info{
    max-width: 300px;
    margin:auto;

}
.info input{
    padding:6px;
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    border: 2px solid rgb(122, 119, 119);
    border-radius:9px;
}

#text{
    padding:6px;
    width: 100%;
    margin-top: 25px;
    font-size: 12px;
    border: 2px solid rgb(122, 119, 119);
    border-radius:9px;
    margin-bottom: 20px;

}
.btn-submit{
    text-align: center;
    padding: 7px;
    margin:auto;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 13px;
    background: none;
    color:white;
    cursor:pointer;
}
.text-footer{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 10px;
    padding: 10px;
    background-color: rgb(113, 122, 134);
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin:5px 3px;
}
